@import "tailwindcss";

.main_background,
.contact_page_section {
  background-image: url("/src/assets/images/fella-bg.JPG");
  background-position: center;
  background-size: cover;
  position: relative;
}
