#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#main {
  background-image: url("/src//assets/images/fella-bg.JPG");
  background-position: center;
  background-size: cover;
  position: relative;
}
